body {
  font-family: "kiddosy Free Regular";
}
ul > li {
  color: #6a371a;
}

.hero-text {
  color: #3e6100;
  margin-left: 20px;
}

.hero {
  background-image: url(../src/ijapa-assets-main/header_bcg.png);
  /* background: linear-gradient(
    181deg,
    #b1daff -1.99%,
    rgba(177, 218, 255, 0.2) 82.79%
  ); */
  /* background-position: center; */
  height: 100vh;
  /* -webkit-background-size: cover; */
  /* -moz-background-size: cover; */
  background-size: cover;
}
