/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
} */

/* .ijapa-logo {
  padding: 10px;
  margin-left: 20px;
  background-color: red;
  margin-left: 20px;
}
nav > ul li {
  display: inline;
  padding: 10px;
} */
