body {
  font-family: "kiddosy Free Regular";
}
ul > li {
  color: #6a371a;
}

.hero-text {
  color: #3e6100;
  margin-left: 20px;
}

/* .hero {
  background-image: url(../src/ijapa-assets-main/header_bcg.png);
  height: 100vh;
  background-size: cover;
} */

.bg-gradient {
  background: linear-gradient(1deg, #371f11 -74.74%, #723e21 89%);
  height: 70vh;
}

.bg-gradient h1 {
  padding-top: 40px;
}

span {
  height: 35px;
  aspect-ratio: 1;
  background-color: #fae57a;
  color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.list-right li span {
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-pic {
  width: 800px;
  padding: 10px;
  margin-left: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

li::marker {
  color: tomato;
}

.list {
  list-style-type: square;
  line-height: 40px;
}
